@typeparam TEntity
@typeparam TKEY




@using Microsoft.AspNetCore.Components.Rendering;



@using Models
@using System.Collections.Generic


@using Newtonsoft.Json.Linq;

@inherits ForeignKeyEditeBase<TEntity,TKEY>

@{
    //fValue =default(TEntity);
    /*var tmp = Program0.getEntityManager<TEntity, TKEY>();

     fValue = tmp.getFromLoaded(value.getFValue());
     if(fValue!=null){
        viewComponenet = Program0.createWidget(fValue.GetType(), new List<Attribute>() {  });
        dataId = fValue.id;
     }
    */
    
}


<div class="row pt-2 pb-2" @key=@dataId>
    @if (fValue != null && viewComponenet != null)
    {
        <div class="col-sm-10">
            <div @key=@dataId>@Program0.CreateDynamicComponent2(this, viewComponenet, fValue)</div>
        </div>
        
        
    }else{
        <div>( id: @value.getFValue() )</div>
    }
    
</div>
