@typeparam TEntity





@using Microsoft.AspNetCore.Components.Rendering;



@using Models
@using System.Collections.Generic


@using Newtonsoft.Json.Linq;

@inherits ValueInput<List<TEntity>>

@{
    
     
    viewComponenet = Program0.createWidget(typeof(TEntity), new List<Attribute>() { });

    
}


<div class="row pt-2 pb-2" >
    @if (value != null)
    {
        int idx = 0;
        if (viewComponenet != null)
        {
                foreach (var t in value)
                {
                    ++idx;
                    if (idx > 5)
                        break;
                    <div >@Program0.CreateDynamicComponent2(this, viewComponenet, t),</div>
                }
        }
        else
        {
                foreach (var t in value)
                {
                    ++idx;
                    if (idx > 5)
                        break;
                    <div>@t.ToString(),</div>
                }
        }
        if (idx != value.Count)
        {
            <div>.. n:@(value.Count)</div>
        }
            

        
    }
    else
    {
        <div > null </div >
    }


</div>
