@typeparam TINP
@typeparam TOUT


@using Models
@using System.ComponentModel;
@using Tools;
@inherits EditBase2< FuncV< TINP , TOUT> >



@{
    reload();
 
}
<EditForm Model=@value >
    @if (typeof(TINP) != typeof(MVoid))
    {
        <div>
            @autoComp( () => value.inp)
        </div>
    }
    <Button Outlined="true" Clicked="@Click">@title [@ButtonState]</Button>
    @if(value!=null && value.output!=null){
        <div>
            @autoComp( () => value.output,true)
        </div>
        
     
    }
</EditForm>
<div>actions</div>

