@typeparam TINP
@typeparam TOUT


@using Models
@using System.ComponentModel;
@using Tools;
@inherits EditBase2< FuncV< TINP , TOUT> >



@{
    reload();
 
}
<EditForm Model=@value >
    <div>
        @autoComp( () => value.inp)
    </div>
    <Button Outlined="true" Clicked="@Click">@ButtonState</Button>
    @if(value!=null){
        Program0.CreateDynamicComponent2(this, Program0.createForm(typeof(TOUT), new List<Attribute>() { }), value.output, null, new List<Attribute>() { }, true);
    }
</EditForm>
<div>actions</div>

