
@using Models
@using System.ComponentModel;
@using Tools;
@{
    reload();
}
@if (comp != null && methodValue!=null)
{
    <div>@Program0.CreateDynamicComponent2(this,comp,methodValue)</div>
}else{
    <div>function not found</div>
}
