



@using Microsoft.AspNetCore.Components.Rendering;




@using System.Collections.Generic


@using Newtonsoft.Json.Linq;


@inherits ValueInput<double>




<div class="row pt-2 pb-2">
    <div class="col-sm-10">
     <NumericEdit    
                     ReadOnly=@ReadOnly
                     TValue="double"
                     Value=value
                     ValueChanged=@Click22 
        />
    </div>
</div>






@code
{

    double prvValue;
    
    async Task Click22(double vv)
    {
        value = vv;
        if (prvValue != value)
        {

            await changeRefrence.InvokeAsync(value);
        }
        prvValue = value;

    }


}

