@typeparam ENUM




@using Microsoft.AspNetCore.Components.Rendering;




@using System.Collections.Generic
@using Newtonsoft.Json.Linq;


@inherits ValueInput<ENUM>


    
<div>@value.ToString()</div>


