@using Blazorise.Video;
@inherits ValueInput<string>



@if (!string.IsNullOrWhiteSpace(value))
{
    <Row>
        @value
    </Row>
    if (FileUploader.instnace.getState(value) == null)
    {
        if (value.ToLower().EndsWith(".png") || value.ToLower().EndsWith(".jpg"))
        {
            <img src=@($"{ClTool.WebClient.webClient.baseUrl}{FilesDownloadDirectory}/{value}") class="img" style="width: auto; height: 200px;"/>
        }

        if (value.ToLower().EndsWith(".mp3"))
        {
            <MyAudio src=@($"{ClTool.WebClient.webClient.baseUrl}{FilesDownloadDirectory}/{value}")  ></MyAudio>
        }
        if (value.ToLower().EndsWith(".mp4"))
        {
            <Video Source=@($"{ClTool.WebClient.webClient.baseUrl}{FilesDownloadDirectory}/{value}")  ></Video>
        }

        
    }
    else
    {
        <div class="progress mb-3" style="height: 20px;">
            <div class="progress-bar" role="progressbar" style="width: @ProgressPercentage%;" aria-valuenow="@ProgressPercentage" aria-valuemin="0" aria-valuemax="100">@ProgressPercentage% Complete</div>
        </div>
    }

    <Button Color=@Color.Danger Clicked=@(()=> setNull())>null</Button>
}
else
{
    <div class="@AlertClass" role="alert">
        @AlertMessage
    </div>
    

    <form @onsubmit="OnSubmit" class="needs-validation" novalidate>
        <div class="input-group mb-3">
            <InputFile @key=@(inputFileId) class="form-control" id="inputFile" OnChange="OnInputFileChange" aria-describedby="uploadButton" required />
            <button class="btn btn-primary" type="submit" id="uploadButton" disabled="@IsUploadDisabled">
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> Upload Selected File
            </button>
        </div>
        <div class="invalid-feedback">
            Please select a file to upload.
        </div>
    </form>
}
@code
{
    [CascadingParameter(Name="FilesDirectory")]
    public string FilesDirectory { get; set; }

    [CascadingParameter(Name = "FilesDownloadDirectory")]
    public string FilesDownloadDirectory { get; set; } = "Upload";
}
