@typeparam TEntity
@typeparam TKEY
@inject NavigationManager NavManager



@using Microsoft.AspNetCore.Components.Rendering;




@using System.Collections.Generic


@using Newtonsoft.Json.Linq;

@inherits ForeignKeyEditeBase<TEntity,TKEY>



@if(!ReadOnly){
    <Button Color="Color.Primary" Clicked="@OnButtonClicked">Click me</Button>
    @if(optionGenerator!=null ){
        
        <Select TValue=TKEY SelectedValue=@value.getFValue()
                SelectedValueChanged=@Click2
                ReadOnly=@ReadOnly>
            @if (optionGenerator != null)
                foreach (var t in  optionGenerator)
                {
                            
                    <SelectItem TValue=TKEY Value=@t.Value>
                        @if (itemComponenet != null)
                        {
                            <div>@Program0.CreateDynamicComponent2(this, itemComponenet, t)</div> 
                        }
                    </SelectItem>
                }
        </Select>
    }
}
<!-- <div>@optionGenerator.GetHashCode()</div>
<div>@optionGenerator.Count()</div>-->

       



