@typeparam TEntity
@typeparam TKEY




@using Microsoft.AspNetCore.Components.Rendering;




@using System.Collections.Generic


@using Newtonsoft.Json.Linq;

@inherits ForeignKeyEditeBase<TEntity,TKEY>



@if(!ReadOnly){
    @if(generator!=null ){
        <Select TValue=TKEY SelectedValue=@value.getFValue()
                SelectedValueChanged=@Click2
                ReadOnly=@ReadOnly>
            @if (generator != null)
                foreach (var t in  generator)
                {
                            
                    <SelectItem TValue=TKEY Value=@t.Value>
                        @if (ItemComponenet != null)
                        {
                            <div>@Program0.CreateDynamicComponent2(this, ItemComponenet, t)</div> 
                        }
                    </SelectItem>
                }
        </Select>
    }
}
<div>@generator.GetHashCode()</div>
<div>@generator.Count()</div>

       



