@typeparam TItem

;
@inherits DisplayInSelectBaseInt<TItem>
@if (value == null)
{
    <div class="spinner"></div>
}
else
{

    var tt=typeof(TItem);
    
    <div class="empimg">
        @{
            Dictionary<string,string> color=new Dictionary<string,string>();
            color["id"]    ="blue";
            color["name"]    ="black";
            color["title"]    ="black";

            color["Id"] = "blue";
            color["Name"] = "black";
            color["Title"] = "black";
            foreach (var name in color.Keys)
            {
                
                var t=tt.GetProperty(name);
                
                //TODO fix this, RTL not correct proprtis blend ech other
                if(t!=null){
                    string style = $"font-size:14px;color:{color[name]};";
                    <span class="font-weight-bold pl-1"   style=@style>@t.GetValue(value)</span>    
                }
            }
        }
        
        
        
    </div>
}
