@typeparam TItem
<li class="draggable" draggable="true" title="title">
    
    @{
        if (ChildContent != null)
        {
            @ChildContent(item);
        }
    }
</li>

@code {
    //[CascadingParameter] JobsContainer Container { get0s; set; }
    [Parameter] public TItem item { get; set; }
    [Parameter] public RenderFragment<TItem> ChildContent { get; set; }
   
}