@typeparam TValue




@using Microsoft.AspNetCore.Components.Rendering;




@using System.Collections.Generic
@using Newtonsoft.Json.Linq;

@inherits OptionsValueInput<TValue>
@{
    load();
}
@if (itemComponenet != null && options!=null){

   
            
                 var color0=(null!=value)?Color.Secondary:Color.Primary;
                            <Button Color=@color0 Clicked=@(()=> onclick(null))>null</Button>
                foreach (var t in options){
                            var color=(t!=value)?Color.Secondary:Color.Primary;
                            <Button Color=@color Clicked=@(()=> onclick(t))>@Program0.CreateDynamicComponent2(this, itemComponenet, t)</Button>
                }
            
 


}





