
@using Microsoft.AspNetCore.Components.Forms


@using Microsoft.AspNetCore.Components.Rendering;
@using Blazorise.RichTextEdit



@using System.Collections.Generic
@using JetBrains.Annotations


@using Newtonsoft.Json.Linq;
@using Sitko.Blazor.CKEditor


@inherits ValueInput<string>
    <Button onclick="@OnSave()">save</Button>
<CKEditor @bind-Value=@value
          
          ></CKEditor>

   
@code{
    //protected RichTextEdit richTextEditRef;

    protected string contentAsHtml;
    protected string contentAsDeltaJson;
    protected string contentAsText;
    protected string savedContent;
    public string prvValue;
    public async Task OnContentChanged()
    {
        /*contentAsHtml = await richTextEditRef.GetHtmlAsync();
        contentAsDeltaJson = await richTextEditRef.GetDeltaAsync();
        contentAsText = await richTextEditRef.GetTextAsync();*/
    }
    

    private async Task OnSave( )
    {
        //savedContent = await richTextEditRef.GetHtmlAsync();
        //await richTextEditRef.ClearAsync();

        //this.value = savedContent;
        if (prvValue != value)
        {

            OnChange(value);
        }
        prvValue = value;
    }

   
    

}

